﻿@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Разработчик:</strong>
    Лавринович Артём Витальевич<br />
    <strong><abbr>Телефон:</abbr></strong>
    +375 25 99-66-173
</address>

<address>
    <strong>Разработчик:</strong> <a href="mailto:lavrinovich.artyom.yandex.ru">lavrinovich.artyom.yandex.ru</a><br />
</address>
<hr/>
<address>
    <strong>Дипломный руководитель:</strong>
    Янковский Игорь Анатольевич<br />
    Кандидат экономических наук, доцент <br/>
    доцент кафедры высшей математики и информационных технологий <br/>
    <strong><abbr>Телефон:</abbr></strong>
    8 (0165) 31-21-00<br />
    <strong><abbr>Адрес:</abbr></strong>
    Брестская область, г. Пинск
    ул. Кирова, 24 (1-й учебный корпус, каб 204)
</address>

<address>
    <strong>Почта:</strong> <a href="mailto:yanki_by@mail.ru">yanki_by@mail.ru</a><br />
</address>
