﻿@using Microsoft.EntityFrameworkCore.Infrastructure
@{
    ViewData["Title"] = "Главная страница";
}
<!Doctype html>
<html>
<head>
    <title>Главная</title>
</head>
<body>
    <div class="text-center">
        <h3>
            Главная форма
        </h3>
    </div>

        <form asp-controller="Categories" asp-action="Index">
            <input type="submit" value="Категории" class="btn btn-primary" style="width: 30%" />
        </form>
        <br />
        <form asp-controller="Orders" asp-action="Index">
            <input type="submit" value="Заказы" class="btn btn-primary" style="width: 30%" />
        </form>
        <br />
        <form asp-controller="Procurements" asp-action="Index">
            <input type="submit" value="Закупки" class="btn btn-primary" style="width: 30%" />
        </form>
        <br />
        <form asp-controller="ProductIsAvalibles" asp-action="Index">
            <input type="submit" value="Доступные товары" class="btn btn-primary" style="width: 30%" />
        </form>
        <br />
        <form asp-controller="Products" asp-action="Index">
            <input type="submit" value="Товары" class="btn btn-primary" style="width: 30%" />
        </form>
        <br />
        <form asp-controller="Storages" asp-action="Index">
            <input type="submit" value="Склад" class="btn btn-primary" style="width: 30%" />
        </form>
        <br />
        <form asp-controller="SubCategories" asp-action="Index">
            <input type="submit" value="Под категории" class="btn btn-primary" style="width: 30%" />
        </form>
        <br />

    <br />
</body>
</html>
