﻿@model BuildStore.Models.SubCategory

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удалить элемент</h2>

<h3>Вы точно хотите удалить это?</h3>
<div>
    <h4>Под категория</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Категория
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt>
            Мин. количество
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinimalAmountId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
