﻿@model BuildStore.Models.SubCategory

@{
    ViewData["Title"] = "Детально";
}

<h2>Детально</h2>

<div>
    <h4>Под категория</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Категория
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt>
            Мин. количество
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinimalAmountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
