﻿@model BuildStore.Models.Storage

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удаление элемента</h2>

<h3>Вы точно хотите удалить это?</h3>
<div>
    <h4>Склад</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Метоположение склада
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
