﻿@model IEnumerable<BuildStore.Models.Storage>

@{
    ViewData["Title"] = "Склад";
}

<h2>Склад</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Местоположение склада
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
