﻿@model BuildStore.Models.Order

@{
    ViewData["Title"] = "Детально";
}

<h2>Детально</h2>

<div>
    <h4>Заказы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название продукта
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt>
            Склад
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage.Id)
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Сумма
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            Количество
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
