﻿@model BuildStore.Models.ProductIsAvalible

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удаление элемента</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Имеется ли в наличии</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название продукта
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt>
            Склад
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage.Id)
        </dd>
        <dt>
            Количество
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
