﻿@model IEnumerable<BuildStore.Models.ProductIsAvalible>

@{
    ViewData["Title"] = "В наличии";
}

<h2>Имеется ли в наличии</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название продукта
            </th>
            <th>
               Склад
            </th>
            <th>
               Количество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
