﻿@model BuildStore.Models.Procurement

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удаление элемента</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Закупки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Название продукта
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
        <dt>
           Склад
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage.Id)
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
           Количество
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            Сумма
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt>
           Название поставщика
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
