﻿@model BuildStore.Models.Product

@{
    ViewData["Title"] = "Удлить";
}

<h2>Удаление элемента</h2>

<h3>Вы точно хотите удалить это?</h3>
<div>
    <h4>Товары</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название товара
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Описание товара
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Еденица измерения
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Под категория
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubCaterogy.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
