﻿@model BuildStore.Models.Product

@{
    ViewData["Title"] = "Детально";
}

<h2>Детально</h2>

<div>
    <h4>Товары</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название товара
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Описание товара
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Еденица измерения
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Под категория
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubCaterogy.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
