﻿@model IEnumerable<BuildStore.Models.Product>

@{
    ViewData["Title"] = "Товары";
}

<h2>Товары</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Название товара
            </th>
            <th>
                Описание товара
            </th>
            <th>
                Еденица измерения
            </th>
            <th>
                Цена
            </th>
            <th>
               Под категория
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCaterogy.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
